@import "_variables.scss";

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto Condensed", sans-serif;
}

h1 {
  font-size: 180%;
  font-weight: 300;
}
h2 {
  font-size: 180%;
  font-weight: 300;
}

// HOME

// NAVIGATION

.home__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 5rem;
  background-color: $header_background;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  text-decoration: none;

  &__list {
    display: flex;
    list-style-type: none;
  }
}

// .home__nav__list {
//   display: flex;
//   list-style-type: none;
// }

.logo {
  height: 3rem;
  margin-left: 4rem;
}

.link {
  color: $header_text;
  background-color: $header_background;
  text-decoration: none;
  padding: 1.25rem 3.5rem;

  &:hover {
    color: $header_hover;
  }
}

// CONTAINER ONE

.container {
  // margin: 10em 6em 0 6em;
  margin-top: 10em;
  margin-left: 8em;
}

.heading {
  h1 {
    font-size: 180%;
    font-weight: 300;
  }
  h2 {
    font-size: 180%;
    font-weight: 300;
  }
}

.cafe_image {
  width: 90%;
}

// CONTAINER TWO

.address {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 4em;
  font-weight: 300;
  justify-content: start;

  h3 {
    font-weight: 300;
    text-transform: uppercase;
  }
}

.item_1 {
  grid-row-start: 1;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 3;
}

.item_2 {
  grid-row-start: 1;
  grid-row-end: 4;
  grid-column-start: 2;
  grid-column-end: 3;
}

.item_3 {
  grid-row-start: 1;
  grid-row-end: 4;
  grid-column-start: 3;
  grid-column-end: 3;
}

.map {
  text-align: center;
  padding-top: 1.5em;
  width: 90%;
}

// FOOTER

.footer {
  background-color: $footer_background;

  &__nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 5rem;
    text-decoration: none;

    &__list {
      display: flex;
      flex-direction: row;
      list-style-type: none;
      padding-top: 2em;
    }
  }
}

// .footer__nav {
//   display: flex;
//   flex-direction: row;
//   justify-content: center;
//   width: 100%;
//   height: 5rem;
//   text-decoration: none;
// }

// .footer__nav__list {
//   display: flex;
//   flex-direction: row;
//   list-style-type: none;

//   padding-top: 2em;
// }

.link_2 {
  display: flex;

  color: $footer_links;
  background-color: $footer_background;
  text-decoration: none;
  padding: 1.25rem 3rem;

  &:hover {
    color: $header_hover;
  }
}

.footer__social {
  display: flex;
  flex-direction: column;
  justify-content: center;

  color: $footer_links;
  background-color: $footer_background;
  text-decoration: none;
  padding: 1.25rem 3rem;

  h4 {
    display: flex;
    justify-content: center;
  }

  p {
    display: flex;
    justify-content: center;

    a {
      color: #ced4da;
      padding-left: 8px;
      padding-right: 8px;
    }
  }
}

// MENU

.container {
  width: 100vw;
}

.coffee-top {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 100px;
}

.menu__1 {
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

.menu__2 {
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

.coffee-mid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 100px;
  width: 100%;
}

.menu__3 {
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

.menu__4 {
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

.menu__5 {
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

.menu__6 {
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

.machine {
  width: 100px;
  height: 100px;
}

// COFFEE
.coffee__container {
  margin-top: 4em;
  margin-left: 8em;
}
.coffee__pitch {
  width: 80%;
  margin-top: 0;
  h1 {
    font-weight: 300;
    font-size: 250%;
    font-weight: 300;
  }
  p {
    font-weight: 300;
    font-size: 120%;
    font-weight: 300;
  }
}
.card {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 3em;
  h4 {
    font-size: 180%;
    font-weight: 300;
    padding-left: 1em;
  }
  p {
    font-weight: 300;
  }
}
.card__unit {
  width: 35%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  margin-top: 2em;
  margin-bottom: 2em;
}
.card__content {
  padding: 2px 16px;
}

@media only screen and (max-width: 600px) {
  body {
    width: 100vw;
    display: grid;
    justify-content: center;
    margin: 0;
    padding: 0;
    font-family: "Roboto Condensed", sans-serif;
  }
  .address {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 4em;
    font-weight: 300;
    justify-content: start;

    h3 {
      font-weight: 300;
      text-transform: uppercase;
    }
  }
}
